{% extends "index.html" %}
{{ super() }}
{% block content %}
<div style="max-height: 90vh; overflow-y: scroll">
    {% if counters|length > 0 %}
    <div class="accordion">
        {% for key, value in counters.items() %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                   data-bs-target="#id_{{key}}" aria-expanded="false" aria-controls="id_{{key}}">
                    <div class="d-flex flex-row justify-content-between">
                        <span class="mr-auto align-self-center">{{key}}</span>
                        <span class="mx-3"></span>
                        <span class="badge bg-primary rounded-pill">{{ value | length }}</span>
                    </div>

                </a>
            </h2>
            <div id="id_{{key}}" class="accordion-collapse collapse" aria-labelledby="id_{{key}}" style="">
                <div class="accordion-body p-0">
                    <ul class="list-group">
                        {% for item in value %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{item.full_message}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading">Hello!</h4>
        <p class="mb-0" id="warning-message-par">Enter some keywords to filter against.</p>
    </div>
    {% endif %}

</div>
{% endblock %}
{% block jsscripts %}
<script>
    const keywordField = $('#keywordsField');
    (function showWarningMessage() {
        const keyword = keywordField.val();
        if (keyword.trim().length === 0) {
            keywordField.addClass('border-danger');
            $('#warning-message-par').text('Enter some keywords to filter against.');
        } else {
            $('#warning-message-par').text('Nothing found. Sad!');
        }
    })()
    keywordField.keyup((e) => {
        console.log(e)
        if (keywordField.val().trim().length === 0) {
            keywordField.addClass('border-danger');
        } else {
            keywordField.removeClass('border-danger');
        }
    })
</script>
{%   endblock %}
